*{
    box-sizing: border-box;
}

body {
   
  background: #007bff;
  background: linear-gradient(to right, #0062E6, #33AEFF);
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #682773
}

.profile-button:focus {
    background: #682773;
    box-shadow: none
}

.profile-button:active {
    background: #682773;
    box-shadow: none
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.labels {
    font-size: 11px
}
.tabOption{
padding-left: 10%;
 padding-top: 16px;
}
.tabOption:hover{
	 background: #58aafc;
	
	 color:white;
}
.add-experience:hover {
    background: #BA68C8;
    color: #fff;
    cursor: pointer;
    border: solid 1px #BA68C8
}
.titlepost{
	color: #111;
	font-size: 17px;    
	font-weight: 700;
}
a{
	text-decoration: none;
	color: black;
}
.btnsetup{
	width:70px;
	height:40px;
	margin-top:10px;
	margin-bottom: 10px;
	text-align: center;
}
.editcontent{
	width:100%;
	height:100%;
}
.createpost{
	padding:10px 10px 10px 10px;
}

.post-item{
	margin-top: 10px;
}
a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.text-white{
	color:white;
}
.useritem{
	margin-top: 10px;
}
.invisible{
	display: none;
}
#contentcmt{
	resize:none;
}

.commentarea{
	width:80%;
}
.pointer{
	cursor:pointer;
}
.repzone{
	margin-left: 10%;
}

.cursor:hover{
	color: blue;	
}
.shadow-none{
	box-shadow: none;
}